.center-container{
    margin: 20px auto;
    display: grid;
    justify-items: center;
    align-items: center;
    width: 1072px;
    height: 603px;
    border-radius: 25px;
    background-image: linear-gradient(to right ,#66ccff, #597ef7);
}
/* background-image: linear-gradient(to right ,#66ccff, #597ef7); */
.center-head{
    display: grid;
    justify-items: center;
    align-items: center;
}

.center-form{
    display: grid;
    justify-items: center;
    align-items: center;
    gap: 10px;
}
.center-item{
    display: flex;
    align-items: center;
}
.center-text{
    width: 100px;
    display: inline-block;
    padding: auto;
}

.center-button{
    background: white;
}