.music-box{
    display: grid;
    justify-items: center;
    align-items: center;
    margin: 20px;
}

.music-header{
    text-align: center;
}
.music-nav{
    display: flex;
    margin: 10px;
    padding: 10px;

}

.music-index{
    display: grid;
    width: 600px;
}
.music-play{
    display: grid;
}