.zanime-box{
    margin: 20px 0px;
    display: grid;
    width: 100%;
    justify-items: center;
    align-items: center;
}


.anime-box{
    margin: 20px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    border-radius:20px;
}

/*
    background-color: #66ccff;
*/

