.zanime-box{
    margin: 20px 0px;
    display: grid;
    width: 100%;
    justify-items: center;
    align-items: center;
}


.anime-box{
    margin: 20px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    background-color: #66ccff;
    border-radius:20px;
}



.anime-list{
    display: grid;
    height: 200px;
    width: 200px;
    background-color: aqua;
    border-radius: 15px;
    justify-items: center;
    align-items: center;
    text-decoration:none;
    color: black;
    padding: 10px;

}

.anime-image{
    width: 160px;
    height: 90px;
    border-radius: 10px;
}